

<div class="option_container" id="booking_cont">

  <div class="underlay" id="booking_underlay"></div>

  <div class="booking_container">
    <div class="booking_title">
      <h3>- Start Driving -</h3>
      <h2>Make a Booking</h2>
    </div>
    <div class="booking_content">
      <div class="booking_inputs">
        <h4>Booking Details</h4>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="email">Email / Phone</label>
        <input type="email" id="contact" name="contact" >
        <label for="phone">Location</label>
        <input type="text" id="locationInput" name="location" placeholder="">
        <label for="transmission">Transmission (Manual / Automatic)</label>
        <div class="transmission_select">
          <select name="transmission" id="transmission">
            <option value="no_pref" selected="selected">No Preference</option>
            <option value="automatic">Automatic</option>
            <option value="manual">Manual</option>
          </select>
          <div class="drop_icon">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="booking_options">
        <h4>Select a Time</h4>
        <div id="date_picker"></div>
        <p id="book_disclaimer">* Select one or more days</p>
        <div id="time_picker"></div>
      </div>

    </div>
    <div class="booking_summary">
      <a href="/thank-you">
        <button id="book_btn">Book Now</button>
      </a>
    </div>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy__cMEKBcPStq3wd-NQo8WFHqdQ9nApY&v=3.exp&sensor=false&libraries=places"></script>

<script>

  $('#date_picker').on('click', function() {
    setTimeout(updateTimeRegion, 500)
  })

  var cal = $('#date_picker').width();
  $('#date_picker').css({'height': cal + 'px'})

  var datepicker = new Datepickk();
  datepicker.container = document.querySelector('#date_picker');
  datepicker.inline = true;
  datepicker.today = false;
  datepicker.show();

  function formatDate(date) {
    var monthNames = [
      "January", "February", "March",
      "April", "May", "June", "July",
      "August", "September", "October",
      "November", "December"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + ' ' + monthNames[monthIndex] + ' ' + year;
  }

  function updateTimeRegion() {

    var timeArea = $('#time_picker')
    timeArea.empty()
    $.each(datepicker.selectedDates, function(index, value) {
      var timeOption = $('<div>').addClass('timeDis');
      var dateP = $('<p>').addClass('date_text').text( formatDate(value) );
      var dateShow = $('<div>').addClass('date_show').append(dateP)

      var timeSelMenu = $('<select>', {name: 'time_select_' + index}).addClass('time_select')
      var timeArr = ['6:00 AM', '7:00 AM', '8:00 AM', '9:00 AM', '10:00 AM', '11:00 AM', '12:00 PM', '1:00 PM', '2:00 PM', '3:00 PM', '4:00 PM', '5:00 PM', '6:00 PM', '7:00 PM', '8:00 PM', '9:00 PM']
      timeArr.forEach(function(val) {
        var timeOptMenu = $('<option>', {value: val}).text(val)
        timeSelMenu.append(timeOptMenu)
      });
      var timeSelect = $('<div>').addClass('timeCol').append(timeSelMenu)

      timeOption.append(dateShow).append(timeSelect)
      timeArea.append( timeOption );

    })
  }

  function init() {
    var input = document.getElementById('locationInput');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', init);

</script>
