<div class="booking_container">
  <div class="booking_sidebar">
    <div class="booking_logo">
      <%= image_tag("logo.png") %>
    </div>
    <h1>Confidently pursue your Drivers License</h1>
    <p id="sidebar_p">Excel Drive boasts some of the finest instructors in Australia for that important milestone of learning to drive.</p>
    <div class="booking_phone">
      <a href="tel:+1300856857">
        <div class="phone_cta">
          <p>Prefer to Call? 1300 856 857</p>
        </div>
      </a>
    </div>
    <div class="reviews">
      <p>Was amazing! Jack done a fantastic job and took be from being someone who was scared of driving to a confident driver that now has her green p's. Could not have done it without Jack's guidance and lessons. Would recommend anyone who is not overly confident or even scared of driving to contact Jack.</p>
      <p id="person_review">Marrissa Blackburn | 5 Stars</p>
    </div>
    <a href="http://www.facebook.com/pg/ExcelDrive/reviews/" target="_blank">
      <p id="more_reviews">Read More Facebook Reviews Here</p>
    </a>
  </div>
  <div class="booking_content">

    <div id="booking_bg"></div>

    <div class="date_holder">

      <div class="time_picker">
        <h3>Select a Date</h3>
        <div id="date_picker"></div>
      </div>

      <div class="time_details">
        <form action="/charges/new" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <p>Location</p>
          <input type="text" value="<%= $location %>" name="location">
          <p>Postcode</p>
          <input type="text" value="<%= $postcode %>" name="postcode">
          <p>Date</p>
          <input type="text" id="date_input" name="date">
          <p>Time</p>
          <input type="text" name="time">
          <button>Next</button>
        </form>
      </div>

    </div>

  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy__cMEKBcPStq3wd-NQo8WFHqdQ9nApY&v=3.exp&sensor=false&libraries=places"></script>

<script>

  $('#date_picker').on('click', function() {
    setTimeout(updateTimeRegion, 500)
  })

  var cal = $('#date_picker').width();
  $('#date_picker').css({'height': cal + 'px'})

  var datepicker = new Datepickk();
  datepicker.container = document.querySelector('#date_picker');
  datepicker.inline = true;
  datepicker.today = false;
  datepicker.maxSelections = 1;
  datepicker.today = true;
  datepicker.show();

  function formatDate(date) {
    var monthNames = [
      "January", "February", "March",
      "April", "May", "June", "July",
      "August", "September", "October",
      "November", "December"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + ' ' + monthNames[monthIndex] + ' ' + year;
  }

  function updateTimeRegion() {

    var timeArea = $('#time_picker')
    timeArea.empty()
    $.each(datepicker.selectedDates, function(index, value) {
      var timeOption = $('<div>').addClass('timeDis');
      var dateP = $('<p>').addClass('date_text').text( formatDate(value) );
      var dateShow = $('<div>').addClass('date_show').append(dateP)

      var timeSelMenu = $('<select>', {name: 'time_select_' + index}).addClass('time_select')
      var timeArr = ['6:00 AM', '7:00 AM', '8:00 AM', '9:00 AM', '10:00 AM', '11:00 AM', '12:00 PM', '1:00 PM', '2:00 PM', '3:00 PM', '4:00 PM', '5:00 PM', '6:00 PM', '7:00 PM', '8:00 PM', '9:00 PM']
      timeArr.forEach(function(val) {
        var timeOptMenu = $('<option>', {value: val}).text(val)
        timeSelMenu.append(timeOptMenu)
      });
      var timeSelect = $('<div>').addClass('timeCol').append(timeSelMenu)

      timeOption.append(dateShow).append(timeSelect)
      timeArea.append( timeOption );

      $('#date_input').val(dateP[0].innerHTML)
    })

  }

  function init() {
    var input = document.getElementById('locationInput');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', init);

</script>
