// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.booking_container {
  display: flex;
  height: 100%;
  width: 100%;

  .booking_sidebar {
    width: 30%;
    height: 100%;
    background-color: #1c3352;
  }

  .booking_content {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: #ffffff;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      margin: 0px auto 15px auto;
      font-weight: 600;
    }

    .address_container {
      width: 50%;
      padding: 2em;
      z-index: 2;
      background-color: rgba(#1c3352, 0.95);
      border-radius: 7px;
      text-align: center;

      input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        margin: 5px 0px 15px 0px;
        // border: 1px solid #2ecc71;
        padding: 0px 25px 0px 25px;
        font-size: 1em;
        color: #000000 !important;
        background-color: #ffffff;
        border: 0px;

        &:focus {
          outline: none;
        }

      }

      button {
        width: 60%;
        height: 50px;
        margin: 0px auto 0px auto;
        background-color: #2ecc71;
        color: white;
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 0.8em;

        &:hover {
          background-color: #31de7a;

        }
      }

    }

    #map {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .date_holder {
      z-index: 2;
      display: flex;
      width: 70%;

      .time_picker {
        width: 60%;
        height: 70vh;
        padding: 4em;
        background-color: rgba(#1c3352, 0.95);
        border-radius: 7px;
        text-align: center;

        h3 {
          margin-bottom: 1.5em;
        }
      }

      .time_details {
        height: 65vh;
        margin-top: 2.5vh;
        width: 40%;
        background-color: white;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 2em 2em 2em 2em;

        p {
          font-family: 'Open Sans', sans-serif;
          font-size: 1em;
          margin: 8px;
        }

        input {
          width: 100%;
          border-top: 0px;
          border-bottom: 1.5px solid rgb(161, 161, 161);
          border-left: 0px;
          border-right: 0px;
          margin-bottom: 1.5em;
          padding: 10px;
          font-size: 0.9em;
          color: rgb(94, 94, 94);
        }

        button {
          width: 60%;
          height: 50px;
          margin: 15px auto 0px auto;
          background-color: #2ecc71;
          color: white;
          border: 0px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
          font-size: 0.8em;
          text-align: center;

          &:hover {
            background-color: #31de7a;

          }
        }

      }
    }

    .details_holder {
      width: 40%;
      padding: 2.5em;
      z-index: 2;
      background-color: #ffffff;
      border-radius: 7px;
      text-align: center;
    }

    #booking_black {
      color: #000000;
    }

    input {
      width: 100%;
      border-top: 0px;
      border-bottom: 1px solid rgb(205, 205, 205);
      border-left: 0px;
      border-right: 0px;
      margin-bottom: 1.5em;
      padding: 10px;
      font-size: 0.9em;
      color: rgb(94, 94, 94);
    }

    button {
      width: 60%;
      height: 50px;
      margin: 25px auto 0px auto;
      background-color: #2ecc71;
      color: white;
      border: 0px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 0.8em;
      text-align: center;

      &:hover {
        background-color: #31de7a;

      }
    }

    .booking_schedule {
      background-color: #F7F8F9;
      border: 1px solid #f0f0f0;
      width: 100%;
      padding: 0em 2em 2em 2em;

      hr {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        color: #f0f0f0;
      }

      .confirm_left {
        text-align: left;
        width: 80%;
        display: inline-block;
        vertical-align: top;

        p {
          font-size: 0.9em;
          color: rgb(94, 94, 94);
          line-height: 1.6em;
        }

      }

      #confirm_location {
        font-weight: 600;
      }

      #confirm_date, #confirm_time {
        display: inline;
      }

      #confirm_time {
        margin-left: 20px;
      }

      #dollar_sign {
        vertical-align: top;
        font-weight: 600;
        display: inline-block;
        padding: 0;
        margin: 15px 0px;
        color: rgb(94, 94, 94);
        font-style: italic;

      }

      #confirm_price {
        vertical-align: top;
        font-weight: 700;
        font-size: 2em;
        display: inline-block;
        padding: 0;
        margin: 8px 0px;
        color: rgb(94, 94, 94);
        font-style: italic;

      }

      .confirm_right {
        text-align: left;
        width: 18%;
        display: inline-block;
        vertical-align: top;
      }
    }



  }
}

#booking_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: url('http://www.paramountdriving.com/img/instruction.jpg') no-repeat;
  background-size: cover;
  z-index: 1;
}

.option_container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background: url('/images/bg_pattern.svg') repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .underlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    background: -webkit-linear-gradient(left, #2ecc71 , #3498db);
    background: -o-linear-gradient(right, #2ecc71, #3498db);
    background: -moz-linear-gradient(right, #2ecc71, #3498db);
    background: linear-gradient(to right, #2ecc71 , #3498db);
    z-index: 2;
    opacity: 0.9;
  }


  .thanks-container {
    width: 500px;
    // height: 500px;
    background-color: #2ecc71;
    z-index: 5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.3);
    padding: 4em;

    img {
      width: 150px;
      opacity: 0.7;
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 0;
      text-align: center;
    }

    p {
      width: 100%;
      text-align: center;
      margin-top: 0;
      color: rgb(70, 70, 70);
    }

    button {
      border-radius: 5px;
      background-color: #fff;
      color: #2ecc71;
      border: 0;
      padding: 15px 35px 15px 35px;
      font-size: 1em;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #f4f4f4;
      }
    }

  }


}
