
<div class="option_container">

  <div class="underlay"></div>

  <div class="thanks-container">
    <img src="images/thanks.png" alt="">
    <h2>Thank You</h2>
    <p>Keep an eye out, we'll be in touch shortly. If you would like to organise a lesson give us a call at 1300 856 857.</p>
    <a href="/">
      <button>Back to Home</button>
    </a>
  </div>

</div>
